.info-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info-subtitle{
    display: flex;
    flex-direction: column;
    font-size: 64px;
}
.info-title{
font-size: 20px;
}
.info-descr{
    font-size: 18px;
    padding-left: 134px;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.advantages-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.advantages-subtitle{
    display: flex;
    flex-direction: column;
    font-size: 64px;
}
.advantages-title{
font-size: 20px;
}
.advantages-descr{
    font-size: 18px;
    padding-left: 134px;
    display: flex;
    flex-direction: column;
    align-items: right;
}
.advantages-images{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 104px; 
}
.advantages-image_left{
    display: flex;
    flex-direction: column;
}
.advantages-image_right{
    display: flex;
    flex-direction: column;
}
.advantages-desc{
    font-size: 20px;
} 

.delivery-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.delivery-subtitle{
    display: flex;
    flex-direction: column;
    font-size: 64px;
}
.delivery-title{
font-size: 20px;
}
.delivery-descr{
    font-size: 18px;
    padding-left: 134px;
}
.delivery-text{
    display: flex;
    flex-direction: column;
    align-items: right;
}
.delivery-button{
    font-size: 20px;
}
.delivery-bottom{
    display: flex;
    flex-direction: row;
    align-items: right;
}
.main-title{
    display: flex;
    font-size: 54px;
    align-items: center;
}
.main{
    background-image:url(assets/photo_2025-03-12_16-28-42.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    max-width: 100%;
}

.contacts-time{
    display: flex;
    flex-direction: row;
}
.contacts-time__left{
    display: flex;
    flex-direction: column;
}
.contacts-time__right{
    display: flex;
    flex-direction: column;
}
.contacts-text{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: left;
}
.contacts-caption{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contacts-number{
    font-size: 64px;
}

