.info-content{
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    

}
.info-subtitle{
    display: flex;
    flex-direction: column;
    font-size: 64px;
    text-align: center;
    
    
}
.info-title{
font-size: 20px;
}
.info-descr{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: 140%;
}
.info{
    justify-content: center;
    display: flex;
}

.advantages-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr ;
  
}
.advantages-subtitle{
    display: flex;
    flex-direction: column;
    font-size: 64px;
    text-align: center;
}
.advantages-title{
font-size: 20px;
}
.advantages-descr{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: 140%;
}
.advantages-text{
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.advantages{
    justify-content: center;
    display: flex; 
}
.advantages-images{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 104px; 
}

.advantages-image_left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantages-image_right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantages-descr{
    font-size: 18px;
} 
.advantages-descr_bottom{
    font-size: 20px;
}

.delivery{
    justify-content: center;
    display: flex; 
}
.delivery-content{
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.delivery-subtitle{
    display: flex;
    flex-direction: column;
    font-size: 64px;
    text-align: center;
}
.delivery-title{
font-size: 20px;
}
.delivery-descr{
    font-size: 18px;
}
.delivery-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
.delivery-button{
    font-size: 20px;
}
.delivery-bottom{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.delivery-button_left{
    color: white;
    background-color: #b59571;
}
.delivery-button_right{
    border: 1px solid black
}
.main-title{
    font-size: 54px;
    position: absolute;
    left: 21%;
    bottom: 150px;
    color: white;
}
.main{
    background-image:url(assets/photo_2025-03-12_16-28-42.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 100vh;
    max-width: 100%;
}


.contacts{
    justify-content: center;
    display: flex; 
}
.contacts-title_right{
    font-size: 20px;
}
.contacts-time{
    display: grid;
    grid-template-columns:196px 196px;
    column-gap:50px;
    row-gap: 24px;

}

.contacts-text{
    font-size: 18px;
}
.contacts-caption{
    flex-direction: row;
    align-items: flex-end;
    color: #b59571;
}
.contacts-number{
    font-size: 64px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.contacts-content{
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.contacts-item{
    font-size: 16px;
    
}
.contacts-telephone{
    font-size: 16px;
   
}

.contacts-location{
   color: white; 
   background-clip: content-box;
   background-color: #5b5b5b;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
}


.contacts-button_left{
    color: white;
    background-color: #b59571;
}
.contacts-button_right{
    color: white;
    background-color: #5b5b5b;
    border: 1px solid white;
}
.contacts-line{
  display: flex;
  flex-direction: row;
   background-color: black;
   align-items: center;
   margin: auto;


}


.politica{
    color: white;
    text-align: center;
    margin: auto;
   
}
.design{
    color: white;
    text-align: right;
    
    
}
.container{
    width: 1076px;   
}
.social{
    background-image:url(assets/photo_2025-03-12_16-28-42.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 100vh;
    max-width: 100%;
}
.social-title{
    font-size: 20px;
}
.social-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
}
.social-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: justify;

}
.social-button{
    color: white;
    background-color: #b59571;
}
.numbers-form{
    display: flex;
    flex-direction: row;
    gap: 18px;
    align-items: center;
}
.form-quantity{
    width: 136px;
    background-color: black;
    border: 1px solid white;
}
.form-time{
    width: 136px;
    background-color: black;
    border: 1px solid white;
}
.form-name{
    width: 296px;
    background-color: black;
    border: 1px solid white;
}
.form-telephone{
    width: 296px;
    background-color: black;
    border: 1px solid white;
}
.social-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-meny{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 60px;
}
.services-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: white;
    background-color: #b59571;
}
.services-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services{
    background-color: black;
}
.services-title{
    font-size: 48px;
}
.services-logo{
    gap: 30px;
}